/* CSS Document */

body {
  /* Typ p�sma bude Arial nebo sans-serif */
  font-family: sans-serif;
  /* Barva pozad� bude sv�tle �ed� */
  background-color: lightgray;
}

/* Selektor pro odd�l ozna�en� ID obal */#obal {
  /* Maxim�ln� ���ka 960 px */
  max-width: 960px;
  /* Nastav okraje tak, aby byl blok obal na str�nce vycentrov�n */
  margin: auto;
  /* Ohrani�en� - pln� �ed� ��ra o tlou��ce 1 pixel  */
  border: solid gray 1px;
  /* Vnit�n� odsazen� - 20 pixel� */
  padding: 20px;
  /* B�l� barva pozad� */
  background-color: white;
  /* Barva textu - tmav� �ed� odst�n, �estn�ctkov� hodnoty 3 */
  color: #333;
}

/* Selektor pro zna�ku nav */nav {
  background-color: #222;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.1em;
  color: lightgray;
}

/* Pro v�echny odkazy v bloku navigace */a {
  padding: 19px;
  /* Odkazy nebudou podtr�eny */
  color: lightgray;
  text-decoration: none;
}

/* Pro v�echny odkazy v bloku navigace p�i p�ejet� kurzoru my�i */a:hover {
  color: white;
  background-color: rgb(0,153,204);
}

h1 {
  /* Nadpis bude vycentrov�n */
  text-align: center;
  /* Velikost nadpisu bude dvojn�sobn� vzhledem k z�kladn� velikosti p�sma */
  font-size: 30px;
  /* Nadpis bude tu�n� */
  font-weight: bold;
  /* Barva nadpisu bude toto�n� s barvou zv�razn�n�ho odkazu */
  color: rgb(0,153,204);
  /* Nadpis bude vyps�n velk�mi p�smeny */
  text-transform: uppercase;
  /* V��ka ��dku nadpisu bude 2em */
  line-height: 2em;
}

/* Plat� pro nadpisy h2 i h3 */h2, h3 {
  font-weight: 200; 
  line-height: 2em;
}

h2 {
  font-size: 1.6em;
  color: rgb(102,153,0);
}

h3 { 
  font-size: 1.2em;
  /* Nadpisy budou podtr�eny tenkou te�kovanou �arou, jej� barva bude shodn� s barvou p�sma */ 
  border-bottom: dotted 1px;
}

p, li {
  line-height: 1.5em;
  /* Horn� a spodn� okraj odstavc� i odr�ek budou odsazeny o hodnotu 1em */
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  /* Text odstavc� bude zarovn�n do bloku */
  display: inline-block;
}

li {
  /* Nastavte styl odr�ek tak, aby odpov�dal p�edloze (�tvercov� odr�ka) */
  list-style-position: outside;
  list-style-type: square;
  margin-left: 40px;
}

/* Nastavte pravidlo pro v�echny tu�n� a mod�e zv�razn�n� texty v odr�k�ch. */
b {
  color: rgb(0,153,204);
  font-weight: bold;
}

/* Nastavte pravidlo pro v�echny odstavce-pozn�mky: 

    * na lev�m okraji bude �ed� ohrani�en� 10px siln�
    * text bude zleva odsazen o 50 pixel�
    * pou�it� font bude o 10% men�� ne� z�kladn� p�smo
    * p�smo bude naklon�n� (kurz�va)
*/
.poznamka{
  border-left: #a3a3a3 10px solid;
  padding-left: 50px;
  font-size: -10%;
  font-style: italic;
}

footer {
  color: gray;
  margin: 10px auto;
  /* Z�pat� bude zarovn�no na st�ed */  
  text-align: center;
  font-size: 80%;
}

strong {
  font-weight: bold;
}

abbr{
  text-decoration: red dashed underline;
}

mark{
  background-color: rgb(102,153,0);
  color: white;
}

/* Nastavte pravidla pro zna�ky vlo�en� do textu �vodn�ho odstavce,
   aby kone�n� vzheld textu odpov�dal p�edloze. */

