body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
}

h2 {
    text-align: center;
    background-color: brown;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 12px;
    position: relative;
}

h2::before {
    content: "▶";
    position: absolute;
    left: 10px;
    color: gray;
} 
    
h3 {
    color: darkblue;
}

ul ol {
    list-style-type: upper-roman;
}

ul ol ol {
    list-style-type: lower-alpha;
}

li {
    padding: 3px;
}

dt, dd {
    padding-bottom: 12px;
}

dt {
    font-weight: bold;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid black;
}

caption {
    color: white;
    font-style: italic;
    text-align: center;
    background-color: #333;
    padding: 5px;
    margin-bottom: 10px;
}

thead, tfoot {
    background-color: #ccc;
}

.middle-left {
    font-weight: normal;
    text-align: left;
}

.middle-right {
    font-weight: normal;
    text-align: right;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.left {
    text-align: left;
}

.total-values {
    text-align: right;
    color: red;
    font-weight: bold;
}


